


MONGODB_URI=mongodb+srv://upscprepare2004:ftalHyzukaAKvXxS@cluster0.qfpbvq0.mongodb.net/time-tracker
DAY_START=08:00
DAY_END=20:00
TIMEZONE=Asia/Kolkata
APP_ACCESS_KEY=
NODE_ENV=development
PORT=5000
